public/* linguist-vendored
*.chs linguist-vendored
*.cht linguist-vendored
*.deu linguist-vendored
*.en linguist-vendored
*.esp linguist-vendored
*.fr linguist-vendored
*.jpn linguist-vendored
*.pol linguist-vendored
*.por linguist-vendored
*.json linguist-vendored
